/etc/config.php
/etc/config.test.php
/etc/config.demo.php
/etc/config.local*.php
/etc/config.personal.php
/sql/local
/lib/dompdf/lib/fonts/log.htm
/update.sh
/update-*.sh
/var/addons
/var/backup
/var/datacache
/var/shopgate
/var/locale
/var/log
/var/run
/var/images
/var/tmp
/var/data
/var/resources
/var/.decorator.fixtures.ini.php
/var/.decorator.modules.ini.php
/var/.decorator.unsafe_modules.ini.php
/var/.decorator.dbSchema.php
/var/.modules.php
/var/.rebuildStarted
/var/.quickData.php
/var/.lessFiles.php
/var/.moduleMigrations.php
/var/packs/*
*.swp
/files/service
.idea
/files/attachments/**/
/vendor/**
!/vendor/.htaccess
**/.DS_Store
